<div style="height: 50px"></div>

<div class="container">

  <div class="row">
    <div class="col-md-6">
      <div class="col-md-12">
        <div id="image0" style="height: 200px; background-size: 100%; background-repeat: no-repeat">
        </div>
      </div>
      <div class="col-md-12">
        <p>Party Well is an organization of driven UBC students who create
          fundraising opportunities at entertainment events for lasting positive
          change. The proceeds from our campus and downtown events go directly
          towards a cause that all of us are passionate about. Our goal is to use
          our events to bring the UBC community together and fund the construction
          of water projects in developing countries through developing countries around the world.</p>

        <p>Our organization consists of eight executive members and a team of over
          thirty promoters. We are from a variety of faculties and networks, able to
          engage both undergraduate and graduate students on and off campus.</p>
      </div>
    </div>
    <div class="col-md-6">

      <h1>Meet the team</h1>

      <hr>

      <div class="row">
        <div class="col-md-4">
          <!-- portrait -->
          James Cohen (Co-founder and CEO)
        </div>
        <div class="col-md-8">

        </div>
      </div>

      <hr>

      <div class="row">
        <div class="col-md-4">
          <!-- portrait -->
          Joe Luiz (Co-founder and CFO)
        </div>
        <div class="col-md-8">

        </div>
      </div>

      <hr>

    </div>
  </div>

</div>
