<!-- parallax scrolling provided by http://pixelcog.github.io/parallax.js/ -->
<div id="header" class="parallax-window" data-parallax="scroll" data-image-src="/images/main-header.jpg" data-speed="0.5">

</div>

<div class="row">
  <div id="image1" class="col-md-4 small-background dim parallax-window" data-parallax="scroll"></div>
  <div id="image2" class="col-md-4 small-background dim parallax-window" data-parallax="scroll"></div>
  <div id="image5" class="col-md-4 small-background dim parallax-window" data-parallax="scroll"></div>
  <div id="image4" class="col-md-4 small-background dim parallax-window" data-parallax="scroll"></div>
  <div id="image3" class="col-md-4 small-background dim parallax-window" data-parallax="scroll"></div>
  <div id="image6" class="col-md-4 small-background dim parallax-window" data-parallax="scroll"></div>
  <div class="fadeIn" style="position: absolute; z-index: 9; color: white; top: 1000px; font-size: 500%; left: 50px;">Thanks for having a blast at FutureFest!</div>
</div>

<div style="height: 100px"></div>

<div class="row">
  <h3 class="text-center fadeIn">We raised:</h3>
  <h1 class="text-center fadeIn" style="font-size: 700%">$5082</h1>
  <h3 class="text-center fadeIn">towards building a well in Kipsongol, Kenya</h3>
</div>

<div style="height: 100px"></div>

<div class="row fadeIn">

  <div class="col-md-4">
    <blockquote>
      <p>The process of organizing FutureFest was one of the greatest learning experiences of my life. None of it could have been done without such a dedicated team behind me, constantly spreading the word and innovating new ways to create our ideal party experience. Seeing all the smiles and hearing people trying to cheer over our PK sound system while knowing that we all made a difference has made me more happy than I ever could have hoped.</p>
      <br><br>
      <p class="pull-right">James Cohen</p>
    </blockquote>
  </div>

  <div class="col-md-4">
    <blockquote>
      <p>FutureFest was a great experience! I loved playing on the killer soundsystem provided by PK sound. I could feel the bass pounding throughout my system. The lighting was also very impressive and I commend the VJs for having some of the most innovative visuals I have seen so far. This was literally the first time the SUB has seen such a massive sound system and production, and I don't think it will be the last time.</p>
      <br><br>
      <p class="pull-right">Bryan C</p>
    </blockquote>
  </div>

</div>

<div style="height: 100px"></div>

<div class="row fadeIn">
  <h1 class="text-center">Stay tuned for more amazing events</h1>
</div>

<div style="height: 200px"></div>
