<div class="container">
	<div style="height: 50px"></div>
	<h1 class="text-center">Platinum Sponsors</h1>
	<div style="height: 50px"></div>
	
	<div class="row">
		<div class="col-md-6">
			<img src="/images/pk sound black.jpg" class="img-responsive center-block" style="height: 60%; width: 60%">
		</div>
		<div class="col-md-6">
			<img src="/images/cus.png" class="img-responsive center-block" style="height: 80%; width: 80%">
		</div>
		<div class="col-md-6">
			<img src="/images/bling it on.png" class="img-responsive center-block">
		</div>
	</div>
	
	
	
	
	<div style="height: 50px"></div>
	<hr>
	<div style="height: 50px"></div>
	<h1 class="text-center">Gold Sponsors</h1>
	<div style="height: 50px"></div>
	<img src="/images/red bull.jpg" class="img-responsive center-block" style="height: 40%; width: 40%">
	<div style="height: 50px"></div>
	<hr>
	<div style="height: 50px"></div>
	<h1 class="text-center">Silver Sponsors</h1>
	<div style="height: 50px"></div>
	<img src="/images/earlove.png" class="img-responsive center-block">
	<div style="height: 50px"></div>
	<hr>
	<div style="height: 50px"></div>
	<h1 class="text-center">Supporting Partners</h1>
	<div style="height: 50px"></div>
	
	<div class="row">
		<div class="col-md-6">
			<img src="/images/ubc edm black.jpeg" class="img-responsive center-block" style="height: 50%; width: 50%">
		</div>
		<div class="col-md-6">
			<img src="/images/dripsy collective.png" class="img-responsive center-block" style="height: 60%; width: 60%">
		</div>
		<div class="col-md-6">
			<img src="/images/200 bpm.png" class="img-responsive center-block" style="height: 30%; width: 30%">
		</div>
		<div class="col-md-6">
			<img src="/images/sus.png" class="img-responsive center-block" style="height: 46%; width: 60%">
		</div>
	</div>
	
	
	
	
	
	
	<div style="height: 50px"></div>
	
</div>